.bg-color1 {
    background-color: cornflowerblue;
}
.bg-color2 {
    background-color: violet;
}
.bg-color3 {
    background-color: greenyellow;
}
.txt-color1 {
    color: cornflowerblue;
}
.txt-color2 {
    color: orangered;
}
.txt-color3 {
    color: darkcyan;
}
.border-color1 {
    border: 5px solid cornflowerblue;
}
.border-color2 {
    border: 10px solid orangered;
}
.border-color3 {
    border: 15px solid darkcyan;
}
.color-rgb {
    color: rgb(255, 69, 0);
}
.color-hexa {
    color: #ff4500;
}
.color-hsl {
    color: hsl(16, 100%, 50%);
}
.color-rgba { /* RGB with Transparent */
    color: rgb(255, 69, 0, 0.5);
}
.color-hsla { /* HSL with Transparent */
    color: hsl(16, 100%, 50%, 0.5);
}
.bg-op-color1 {
    background-color: cornflowerblue;
    opacity: 0.7;
}
.bg-op-color2 {
    background-color: violet;
    opacity: 0.6;
}
.bg-op-color3 {
    background-color: greenyellow;
    opacity: 0.5;
}