.bg-color1 {
    background-color: cornflowerblue;
}
.bg-color2 {
    background-color: violet;
}
.bg-color3 {
    background-color: greenyellow;
}
.txt-color1 {
    color: cornflowerblue;
}
.txt-color2 {
    color: orangered;
}
.txt-color3 {
    color: darkcyan;
}
.border-color1 {
    border: 5px solid cornflowerblue;
}
.border-color2 {
    border: 10px solid orangered;
}
.border-color3 {
    border: 15px solid darkcyan;
}